body{
background-image: url(background.jpg);   
}
h1{
background-position: center;
text-align: center;
font-family: Roboto, serif;
border-style: dashed;
}
h2{
text-align: center;
border-style: dotted;
border-color: fuchsia
}
p{
color: white;
background-color: black;
}
h3{
font-family: serif;
}
ol{
font-family: Arial, Helvetica, sans-serif
}
li{
font-family: Verdana, Tahoma, sans-serif
}
.test{
font-family: Roboto, serif;
border-style: ridge;
border-color: red;
}